@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}
body * {
  box-sizing: border-box;
}

/* global */
.button-style {
  text-decoration: none;
  background-color: steelblue;
  color: aliceblue;
  border-radius: 10px;
  padding: 8px 10px;
  width: 100px;
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  font-size: inherit;
  cursor: pointer;
}

.page-style {
  padding-top: 80px;
  padding-bottom: 80px;
  background-size: cover;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header img {
  width: 250px;
}

/* home page */
.home-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
}
.home-container .outer {
  width: 25%;
  padding: 15px;
}
.home-container .inner {
  background-color: darkslategray;
  color: aliceblue;
  padding: 10px;
}
.home-container .contact-button {
  text-align: center;
}
.home-container .inner h3 {
  text-align: center;
}
.contact-button .button-style {
  width: 80px;
}

/* login page */
.login-page {
  padding-left: 300px;
  color: white;
  background-image: url(./img/login-bg.jpg);
}
.login {
  text-align: center;
  display: inline-block;
  padding: 3% 4%;
  background-color: slategrey;
  border-radius: 15px;
  width: 350px;
}

/* signup page */
.signup-page {
  text-align: center;
  background-image: url(./img/signup.png);
}
.signup a {
  text-decoration: none;
}
.signup {
  display: inline-block;
  padding: 2% 3%;
  background-color: aliceblue;
  border-radius: 15px;
  width: 400px;
}

/* post apge */
.post-page {
  text-align: center;
  background-image: url(./img/post5.jpg);
}
.post-page button {
  font-size: 15px;
}
.post-content {
  display: inline-block;
  padding: 3% 3%;
  background-color: cornsilk;
  border-radius: 15px;
  width: 50%;
}

.post-page form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-page .input-wrapper {
  width: 50%;
  padding: 0 15px;
}

.input-wrapper {
  text-align: left;
}
.input-wrapper input {
  width: 100%;
  height: 30px;
}
.input-wrapper label {
  display: block;
  margin-bottom: 5px;
}

/* error page */
.error-page h1 {
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
}
.error-page {
  background-image: url(./img/error.jpg);
  text-align: center;
  padding: 220px 0;
}
.error-page a {
  background-color: black;
}

/* form error */
.error {
  margin-top: 5px;
  color: rgb(214, 27, 27);
}
.user-style {
  background-color: lightgray;
}
.user-style .outer {
  width: 20%;
}
.user-style .outer img {
  height: 180px;
}
.user-style .inner {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.user-style h4 {
  margin-top: 0px;
  text-align: center;
  color: black;
}
.user-style h3 {
  color: black;
}
